<div class="flex mt-2 md:ml-32">
    <button class="bg-white w-[290px] h-[45px] rounded-full flex items-center justify-center hover:bg-zinc-200">
        <img src="/apple.svg" class="w-5">
        <p class="font-bold ml-2 text-[15px]">Registrarse con Apple</p>
    </button>
</div>