<div class="mt-5 flex items-center md:ml-32">
    <div class="bg-zinc-700 h-[0.5px] w-[132px]"></div>
    <span class="text-white ml-2 -mt-1">o</span>
    <div class="bg-zinc-700 h-[0.5px] w-[132px] ml-2"></div>
</div>