<div class="md:ml-32">
    <h2 class="text-white font-bold text-[17px] mt-[55px]">¿Ya tienes una cuenta?</h2>
    <button class="mt-4 w-[290px] h-[45px] border border-gray-600 rounded-full hover:bg-blue-400 hover:bg-opacity-10 transition duration-200 ease-in-out">
        <p class="text-sky-600 font-bold">Iniciar sesion</p>
    </button>
</div>