<div class="w-3/4 mt-2 md:ml-32 md:w-1/2">
    <p class="text-gray-500 text-[11px] leading-none">Al registrarte aceptas los <a>Términos de servicio</a> y la <a href="">Política de privacidad</a>, incluida la política de <a href="">Uso de Cookies</a></p>
</div>

<style>
    a{
        color: #0ea5e9;
    }

    a:hover{
        text-decoration: underline;
    }
</style>